.container {
    height: 69vh;
}

table{ 
    border-collapse:separate; 
    border-spacing: 0 30px;
} 

.mat-card {
    border-radius: 0px;
}

.mat-card-content {
    font-size: larger;
    font-weight: bold;
}

.name {
    font-size: large;
    font-weight: bold;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.image {
    background-image: linear-gradient(to bottom left, rgb(206, 245, 242), rgb(44, 171, 160));
}

.loader {
    position: absolute;
    height: 100%;
    width: 85%;
    opacity: 0.8;
    z-index: 99;
}