.container {
    width: 40vw;
    border-radius: 5px 5px 5px 5px;
}

.hidden {
    display: none;
}

.loader {
    position: absolute;
    height: 100%;
    width: 85%;
    opacity: 0.8;
    z-index: 99;
}