<div *ngIf="loader.isLoading | async" class="loader">
    <mat-spinner style="top:20%; left:55%" color="primary"></mat-spinner>
</div>
<div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="space-around center">
    <mat-card class="card" fxFlex="60" fxFlex.xs="100%" fxFlex.md="100%" fxLayout="column">
        <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" fxLayout="column">

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter Old Password</mat-label>
                <input matInput placeholder="Old Password" formControlName="old">
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Enter New Password</mat-label>
                <input matInput placeholder="Validity" formControlName="newpass" [errorStateMatcher]="matcher">
                <mat-error *ngIf="this.form.newpass.errors?.required">
                    Please provide a valid password <br/>
                </mat-error>
                <mat-error *ngIf="this.form.newpass.errors?.pattern">
                    <!-- <b>Hint</b>: Password should be 8 character long. This should contain atleast one Uppercase 
                    letter, one Lowercase letter, one number, one special character. -->
                    {{msg}}
                </mat-error>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Re-Enter New Password</mat-label>
                <input matInput placeholder="Validity" formControlName="retype" [errorStateMatcher]="matcher">
                <mat-error *ngIf="this.form.retype.errors?.retypePass">
                    {{this.form.retype.errors.retypePass}}
                </mat-error>
                <mat-error *ngIf="this.form.retype.errors?.required">
                    Please provide a valid password <br/>
                </mat-error>
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="10px">
                <button mat-raised-button type="submit" color="accent">Reset Password</button>
                <button mat-raised-button type="button" color="warn" (click)="onReset()">Reset</button>
            </div>
        </form>
    </mat-card>
</div>