<h2 mat-dialog-title>Add Proof</h2>
<div mat-dialog-content>
  <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center" class="container">
    <form class="form" fxLayout="column" fxFlex="100" fxLayoutAlign="center" [formGroup]="proofForm">
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Enter Proof Name</mat-label>
        <input matInput placeholder="Proof Name" formControlName="proofName">
        <mat-error>
          Please provide a valid Proof Name
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button type="submit" color="accent" (click)="data ? onUpdate():onAdd()" [disabled]="!proofForm.valid">{{data ? 'Update':'Add'}}</button>
  <button mat-raised-button type="submit" color="warn" (click)="onCancel()">Cancel</button>
</div>