<div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="space-around center">
    <mat-card class="card" fxFlex="60" fxFlex.xs="100%" fxFlex.md="100%">
        <div class="mat-elevation-z8" fxLayout="column">
            <div *ngIf="loader.isLoading | async" class="loader">
                <mat-spinner style="top:90%; left:50%" color="primary"></mat-spinner>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <button mat-raised-button color="accent" (click)="onAdd()">Add Transport Cost <mat-icon color="primary">add</mat-icon></button>
                </div>
                <mat-form-field>
                    <mat-label>
                        <mat-icon color="accent" [class]="'input-icon'" class="search">search</mat-icon>Search
                    </mat-label>
                    <input type="text" (keyup)="applyFilter($event)" matInput placeholder="Search">
                </mat-form-field>
            </div>
            <table mat-table [dataSource]="listData" matSort>
    
                <ng-container matColumnDef="srNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr No. </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                </ng-container>
    
                <ng-container matColumnDef="fromStation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> From Station Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.fromStationName}} </td>
                </ng-container>
    
                <!-- Name Column -->
                <ng-container matColumnDef="toStation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> To Station Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.toStationName}} </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
                    <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                </ng-container>
    
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="accent" #tooltip="matTooltip" matTooltip="Edit" (click)="onUpdate(element)">
                            <mat-icon>launch</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" #tooltip="matTooltip" matTooltip="Delete" (click)="deleteConfirm(element.id)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                    <td mat-cell *matCellDef="let element"> {{element.memberTypeName}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="dispCol"></tr>
                <tr mat-row *matRowDef="let row; columns: dispCol;"></tr>
            </table>
            <div *ngIf="listData.data.length === 0" class="noData">No data found</div>
            <mat-paginator pageSize="30" [pageSizeOptions]="[5,10,20,30]"></mat-paginator>
        </div>
    </mat-card>
    </div>
    