span {
    // color: rgb(175, 177, 170);
    color: white;
}
.nav {
    background: rgb(6, 77, 110);
    // background-image: linear-gradient(to bottom right, rgb(101, 101, 172), green);;
    width: 100vw;
    height: 7vh;
}
  
.header {
    display: flex;
}
  
ul {
    float: right;
    list-style-type: none;
}
  
ul li {
    display: inline-block;
    padding: 5px;
}
  
ul li a {
    // border: solid white;
    // border: solid rgb(142, 135, 65);
    // color: white;
    // color: rgb(175, 177, 170);
    color: white;
    font-size: 2vh;
}
  
ul li a:hover {
    background: #55c1b8;
    color: rgb(3, 57, 103);
}
  
// ul li .active a {
//     background: rgb(142, 135, 65);
// }

.active {
    color:white;
}

.xyz {
    color: white;
}

.activeLink {
    background: #55c1b8;
    color: rgb(3, 57, 103) !important;
}

.logged {
    padding: 10px;
    font-size: 150%;
}

.profile {
    font-size: 20px;
}