<mat-toolbar color="accent" class="nav">
    <div>
        <span><img src="../../assets/1626631107554.png" alt="TPMS" style="width: 23%;"></span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout class="navigation-items">
            <ng-container *ngFor="let menu of headerMenu">
                <ng-container *ngFor="let link of menu.menu">
                    <span *ngIf="menu.userType == user_role && !isLoggedIn && !link.active;">
                        <li> <a mat-button [routerLink]="link.routerLink"
                            routerLinkActive="activeLink">{{link.label}}</a> 
                        </li>
                    </span>
                    <span *ngIf="menu.userType == user_role && isLoggedIn && link.active;">
                        <li> <a mat-button [routerLink]="link.routerLink"
                            routerLinkActive="activeLink">{{link.label}}</a> 
                        </li>
                    </span>
                </ng-container>
            </ng-container>
            <li> <a mat-button *ngIf="isLoggedIn" (click)="logout()" routerLinkActive="activeLink">Logout</a> </li>
            <span *ngIf="isLoggedIn" class="material-icons logged">account_circle</span>
            <span *ngIf="isLoggedIn" class="profile">{{this.authService.currentUserValue.userName}}</span>
        </ul>
    </div>

</mat-toolbar>