.container {
    height: 69vh;
}

table{ 
    border-collapse:separate; 
    border-spacing: 0 30px;
} 

.mat-card {
    border-radius: 0px;
}

.name {
    font-size: large;
    font-weight: bold;
}

img {
    width: 80%;
}

.image {
    background-image: linear-gradient(to bottom left, rgb(206, 245, 242), rgb(44, 171, 160));
}