.container {
    height: 80vh;
    border-radius: 5px 5px 5px 5px;
    background-image: url(../../../../assets/metro-light-rail_0003_IMG_0351.png);
    background-size: cover;
    background-position: center;
}

.card {
    margin-top: 20px;
    padding: 40px;
}

.msg {
    font-family: Bradley Hand, cursive;
    font-size: large;
    padding: 5px;
    padding-bottom: 10px;
    color: red;
}