:host {
    // background-image: url(../../../assets/metro-light-rail_0003_IMG_0351.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: block;
    background-image: linear-gradient(to bottom right, white, rgb(233, 230, 230));
}

.content-outer-container {
    min-height: 73.7vh !important;
}