.card {
    margin-top: 20px;
    width: 30vw;
}

.loader {
    position: absolute;
    height: 100%;
    width: 85%;
    opacity: 0.8;
    z-index: 99;
}

img {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}