.card {
    padding:40px;
}

.price {
    font-size: 25px;
    font-weight: bold;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.mat-card {
    width: 20vw;
}

.validity {
    font-size: 20px;
    font-weight: 500;
}

.mode {
    font-size: 17px;
    font-weight: 500;
}

.pass {
    font-size: 17px;
}