<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <img src="..\assets\undraw_profile_pic_ic5t.svg" alt="" class="profile">
      <div class="profileName">{{this.authService.currentUserValue.userName}}</div>
      <div class="profileName">{{this.authService.currentUserValue.email}}</div>
    </div>

    <mat-nav-list *ngFor="let menu of menu2; index as i;" class="side-nav">
      <ng-container *ngIf="menu.userType == currentUser.role">
        
      </ng-container>
      
      <a mat-list-item [ngStyle]="{'padding-left': '5px'}" class="link mat-list-item" [routerLink]="menu?.children?[]:[menu.routerLink]" appActiveNav>
        <mat-icon class="routeIcon">{{menu.icon}}</mat-icon>
        {{menu.label}}
        <span fxFlex *ngIf="menu.children && menu.children.length">
          <span fxFlex></span>
          <mat-icon class="expand">
            expand_more
          </mat-icon>
        </span>
      </a>
      <div class="childMenu">
        <a mat-list-item [ngStyle]="{'padding-left': '45px'}" *ngFor="let child of menu.children" [routerLink]="child.routerLink" class="link" appActiveNav>
          {{child.label}}
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{this.sideNavService.navTitle}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
