.container {
    width: 30vw;
}

.title {
    font-weight: 500;
    width: 30%;
}

.header {
    background-color: #c9a6a9;
    padding: 5px;
}

.data {
    margin-left: 5px;
}

.size {
    font-size: large;
}

table{ 
    border-collapse:separate; 
    border-spacing: 0 15px; 
} 