<div class="container" fxLayout fxLayoutAlign="start start">
    <form action="" fxLayout="column" fxFlex="100" [formGroup]="profileFormGroup">
        <mat-form-field>
            <mat-label>Requesting Pass for</mat-label>
            <input matInput formControlName="street">
            <mat-error>
                Please provide Street
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="city">
            <mat-error>
                Please provide City
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="state">
            <mat-error>
                Please provide State
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mobile No.</mat-label>
            <input matInput formControlName="zip">
            <mat-error>
                Please provide zip
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field>
            <mat-label>DOB</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field> -->

        <!-- <div class="label">Permanent Address Information</div>

        <mat-form-field>
            <mat-label>Address Line1</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address Line2</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Zip Code</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field>

        <div class="label">Postal Address Information</div>
        <mat-form-field>
            <mat-label>Address Line1</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address Line2</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Zip Code</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput>
            <mat-error>
                Please provide Transport Mode Type
            </mat-error>
        </mat-form-field> -->
    </form>
</div>