.container {
    margin: 25px;
    border-radius: 5px 5px 5px 5px;
}

.form {
    background: rgb(236, 247, 253);
    padding: 20px;
}

.gender {
    padding-bottom: 20px;
}

  
img {
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    border-radius: 50%;
}

.loader {
    position: absolute;
    height: 100%;
    width: 85%;
    opacity: 0.8;
    z-index: 99;
}