<div class="container" fxLayout fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="90" class="form">
            <form fxLayout="column" fxFlex="95" [formGroup]="profileFormGroup">
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" placeholder="First Name">
                    <mat-error>
                        Please provide Street
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" placeholder="Last Name">
                    <mat-error>
                        Please provide City
                    </mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayoutGap="20px" class="gender">
                    <mat-label>Gender</mat-label>
                    <mat-radio-group aria-label="Select an option" formControlName="gender" fxLayout="row"
                        fxLayoutGap="10px">
                        <mat-radio-button value="Female">Female</mat-radio-button>
                        <mat-radio-button value="Male">Male</mat-radio-button>
                    </mat-radio-group>
                </div>

                <mat-form-field color="accent" appearance="fill">
                    <mat-label>DOB</mat-label>
                    <input matInput [matDatepicker]="start" formControlName="DOB" placeholder="MM/DD/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                    <mat-error>
                        Please provide valid DOB
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Mobile No.</mat-label>
                    <input matInput formControlName="mobileNo" pattern="\d*" placeholder="Mobile No.">
                    <mat-error>
                        Please provide valid Mobile No.
                    </mat-error>
                </mat-form-field>

                <!-- <div fxLayout="row" fxLayoutGap="20px">
                    <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> <br />
                    <input hidden type='file' #csvInput (change)="onSelectFile($event)" formControlName="profileImage">
                    <div fxLayout="column">
                        <button mat-flat-button color="primary" (click)="csvInput.click()" type="button"
                            style="color: white; top: 30%;">Choose Profile
                            Image</button>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>