.container {
    padding: 20px;
}

.tab {
    padding: 20px;
    background-color: rgb(234, 235, 233);
    border-radius: 5px 5px 5px 5px;
}

.label {
    background-color: rosybrown;
    border-radius: 2px 2px 2px 2px;
    padding: 5px;
}

.icon {
    margin-left: 8px;
    color: blue;
}