.container {
    padding: 20px;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
}

.back {
    margin-left: 20%;
    margin-top: 20px;
}

.button {
    margin-left: 5%;
    margin-right: 5%;
}

table {
    width: 70%;
    margin: 15px;
}

.mat-header-cell {
    background-color: #c9a6a9;
    font-size: larger;
}

.outer-container {
    height: 100vh;
}