table {
    width: 70vw;
}
.mat-card-header {
    background-color: #5e383c;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
}

.mat-header-cell {
    font-size: larger;
}

.mat-header-cell {
    background-color: #c9a6a9;
}

.loader {
    position: absolute;
    height: 100%;
    width: 85%;
    opacity: 0.8;
    z-index: 99;
}

.description {
    width: 20%;
}

.serial {
    background-color: rgb(245, 245, 245);
    padding: 15px;
    height: 100px;
}

.noData {
    font-family: 'Palatino', 'URW Palladio L', sans-serif;
    font-style: italic;
    padding: 5px;
}