.mat-card-header {
    background-color: #5e383c;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
}

.mat-header-cell {
    font-size: larger;
}

.mat-header-cell {
    background-color: #c9a6a9;
}

.loader {
    position: absolute;
    height: 100%;
    width: 85%;
    opacity: 0.8;
    z-index: 99;
}