// table {
//     width: 100%;
// }

// .mat-elevation-z8 {
//     margin: 5%;
//     margin-top: 2%;
// }

.loader {
    position: absolute;
    height: 100%;
    width: 85%;
    opacity: 0.8;
    z-index: 99;
}

.card {
    box-shadow: #3e2828 2px 2px 10px 2px;
    margin-top: 5vh;
}

.mat-card-header {
    background-color: #5e383c;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
}

.mat-header-cell {
    background-color: #c9a6a9;
    font-size: larger;
}

.search {
    margin-right: 10px;
}