.container {
    height: 80vh;
    width:70vw;
    border-radius: 5px 5px 5px 5px;
    background-image: url(../../../assets/metro-light-rail_0003_IMG_0351.png);
    background-size: cover;
    background-position: center;
}

.left {
    background: rgb(16, 62, 84);
    border-radius: 5px 5px 5px 5px;
    height: 70vh;
    width: 10vw;
    margin-left: 40px;
}

.left img {
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

.form {
    margin-top: 30%;
    width: 50vw;
}

.login {
    background: rgb(236, 247, 253);
}

button {
    color: white;
}

img {
    width: 10vw;
}

.loader {
    position: absolute;
    height: 90%;
    width: 90%;
    opacity: 0.8;
    z-index: 99;
}

.mat-raised-button {
    color: #55c1b8;
    font-size: 20px;
}

.input-icon {
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px;
}

.role {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 200%;
    padding-bottom: 40px;
} 

a {
    text-decoration: none;
    padding: 2px;
}

.welcome {
    font-family: 'OCR A Std', 'monospace';
    font-size: 3vh;
    font-weight: bold;
    color: white;
}

.info {
    color: white;  
    font-size: 20px; 
}
