<div class="container" fxLayout fxFlex>
    <div *ngIf="loader.isLoading | async" class="loader">
        <mat-spinner style="top:40%; left:50%" color="primary"></mat-spinner>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex>
        <div fxLayout="100%">
            <div fxFlex="60" class="left" fxHide.lt-md fxHide.lt-xs fxLayoutAlign="space-evenly center" fxLayout="column">
                <img src="../../../assets/man-1718099_1920.jpg" alt="">
            </div>

            <div fxFlex="40" fxLayoutAlign="center" class="login" fxFlex.xs="100" fxFlex.sm="100">
                <form fxLayout="column" [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()" fxFlex="85" fxFlex.xs="100" fxFlex.md="100">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" class="role">
                        <mat-icon color="accent" style="position: relative; top:-8vw; left: -4vw; font-size: 10vw;">person</mat-icon>
                        <div>{{user_type | titlecase}} Login</div>
                    </div>
                    <mat-form-field class="example-full-width" color="accent" appearance="fill">
                        <mat-label>
                            <mat-icon color="accent" [class]="'input-icon'">person</mat-icon>User Name
                        </mat-label>
                        <input matInput formControlName="userName" placeholder="Ex. userName"
                            [errorStateMatcher]="matcher">
                        <mat-error>
                            Please provide a valid user name
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width" color="accent" appearance="fill">
                        <mat-label>
                            <mat-icon color="accent" [class]="'input-icon'">lock</mat-icon>Password
                        </mat-label>
                        <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                            placeholder="Password" [errorStateMatcher]="matcher">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error>
                            Please provide a valid password
                        </mat-error>
                    </mat-form-field>

                    <button mat-raised-button type="submit" color="primary">Login</button>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <a routerLink="/user/register" *ngIf="user_type == role.USER">Register</a>
                        <a routerLink="/forgot-password">Forgot Password</a>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>