.container {
    // background: rgb(182, 182, 176, 0.7);
    height: 80vh;
    width: 80vw;
    border-radius: 5px 5px 5px 5px;
    // margin: 10vh;
    // margin-left: 35vh;
    // margin-right: 200px;
}

.left {
    background: rgba(2, 118, 116);
    border-radius: 5px 5px 5px 5px;
    height: 70vh;
    width: 50vw;
}

.left img {
    // background-size: cover;
    // background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

.form {
    // width: 70%;
    margin-top: 40%;
}

.login {
    background: rgb(236, 247, 253);
}

button {
    color: white;
}

img {
    width: 10vw;
}

.loader {
    position: absolute;
    height: 90%;
    width: 90%;
    opacity: 0.8;
    z-index: 99;
}

.mat-raised-button {
    color: #55c1b8;
    font-size: 20px;
}

.input-icon {
    // border: solid 3px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px;
}

.role {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 200%;
    padding-bottom: 40px;
} 

a {
    text-decoration: none;
    padding: 2px;
}
