.container {
    margin: 25px;
    border-radius: 5px 5px 5px 5px;
}

.form {
    background: rgb(236, 247, 253);
    padding: 20px;
}

.label {
    // background-color: lightgrey;
    padding-bottom: 5px;
    font-weight: 500;
}