<div class="container" fxLayout fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="90" class="form">
            <form fxLayout="column" fxFlex="95" [formGroup]="addressFormGroup">
                <div class="label">Permanent Address Information</div>

                <mat-form-field appearance="fill">
                    <mat-label>Address Line1</mat-label>
                    <textarea matInput placeholder="Ex. 100 Main St" formControlName="permanentAddress1"></textarea>
                    <mat-error>
                        Please provide Address Line 1
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Address Line2</mat-label>
                    <textarea matInput placeholder="Ex. 100 Main St" formControlName="permanentAddress2"></textarea>
                    
                </mat-form-field>

                <div fxLayout="row" fxLayoutGap="30px">
                    <mat-form-field appearance="fill" fxFlex="48">
                        <mat-label>Zip Code</mat-label>
                        <input matInput formControlName="permanentZip" type="number">
                        <mat-error>
                            Please provide valid Zip Code
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="48">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="permanentCity">
                        <mat-error>
                            Please provide City
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="label">Postal Address Information</div>
                    <mat-checkbox labelPosition="before" class="label" formControlName="sameInd">
                        Same As Permanent Address
                    </mat-checkbox>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Address Line1</mat-label>
                    <textarea matInput placeholder="Ex. 100 Main St" formControlName="postalAddress1"></textarea>
                    <mat-error>
                        Please provide Address Line 1
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Address Line2</mat-label>
                    <textarea matInput placeholder="Ex. 100 Main St" formControlName="postalAddress2"></textarea>
                </mat-form-field>

                <div fxLayout="row" fxLayoutGap="30px">
                    <mat-form-field appearance="fill" fxFlex="48">
                        <mat-label>Zip Code</mat-label>
                        <input matInput formControlName="postalZip" type="number">
                        <mat-error>
                            Please provide valid Zip Code
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="48">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="postalCity">
                        <mat-error>
                            Please provide City
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
</div>