/* You can add global styles to this file, and also import other style files */

html, body, app-root { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success {
    background-color: green;
}

.error {
    background: red;
}

body {
    margin-bottom: 0;
    margin-top: 0;
  }
