<h2 mat-dialog-title>Enter Member Type</h2>
<div mat-dialog-content>
  <mat-form-field [formGroup]="memberTypeForm">
    <mat-label>Member Type</mat-label>
    <input matInput formControlName="memberType" [errorStateMatcher]="matcher" placeholder="Member Type">
    <mat-error>
        Please provide Member Type
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button cdkFocusInitial color="accent" (click)="onUpdate()" [disabled]="!memberTypeForm.valid">Update</button>
  <button mat-raised-button [mat-dialog-close]="false" color="warn">Cancel</button>
</div>