<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between space-between" class="row">
        <div fxLayout="column" fxLayoutAlign="space-between start">
            <div style="font-size: large;">Contact Us</div>
            <table>
                <tr>
                    <td><span class="material-icons">email</span></td>
                    <td>info.tpms.official@gmail.com</td>
                </tr>
                <tr>
                    <td><span class="material-icons">call</span></td>
                    <td>8145679023</td>
                </tr>
            </table>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        Copyright © 2021 Content owned by Transport Pass Management System
    </div>
</div>