<div class="container" fxLayout fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="90" class="form">
            <form fxLayout="column" fxFlex="95" [formGroup]="proofFormGroup">
                <mat-form-field appearance="fill">
                    <mat-label>Pass Requesting As</mat-label>
                    <mat-select formControlName="requestAs">
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                    <mat-error>
                        Please provide valid option
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>